<%- include('partials/header') %>
<div class="container">
  <h2>Your Book List:</h2>
  <!-- Add new book button -->
  <a href="/add" class="btn-add-book">Add a New Book</a>

  <h1>Hello <%= email %>!</h1>

  <h2>Books I've Read 📚</h2>
  <% if (books.length > 0) { %>
  <ul>
    <% books.forEach(book => { %>
    <li>
      <strong><%= book.title %></strong> by <%= book.author %>
      <a href="/books/<%= book.id %>">View Details</a>
    </li>
    <% }) %>
  </ul>
  <% } else { %>
  <p>You haven’t added any books yet. Click the button above to get started!</p>
  <% } %>
</div>
<a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
<%- include('partials/footer') %>
